@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    background-color: #f4f4f4;
    font-size: 25px;
    font-family: "Poppins", serif;
}

.header {
    margin: 2% 5% 3% 5%;
    color:  #FB9333;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.header-plain_text {
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    color: black;
    text-decoration: none;
}

.header-link {
    color: black;
    text-decoration: none;
}

.header-signIn {
    display: flex;
    background-color: #FB9333;
    height: 20%;
    border-radius: 20px;
    padding: 1% 2%;
    border-color: transparent;
    color: white;
}

.main {
    margin: 5% 5%;
}

.relative-pics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -5%;
    padding: 5%;
    border-radius: 20px;
}

.banner {
    flex: 1;
    max-width: 50%;
}

.main-chant {
    display: inline-block;
    font-size: 0.9em;
    color: #FB9333;
    font-weight: bold;
    background-color: #FFF0DC;
    padding: 10px 15px;
    border-radius: 15px;
}

.banner-header {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
}

.banner-text {
    font-size: 1.2em;
    color: #666;
    margin: 10% 0 10% 0;
}

.banner-order_button {
    background-color: #FB9333;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.banner-order_button:hover {
    background-color: #E68328;
}

.stats {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 40px;
}

.stats div {
    text-align: center;
}

.stats h2 {
    font-size: 1.5em;
    color: #333;
}

.stats p {
    font-size: 1em;
    color: #666;
}

.header-aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.heart {
    position: absolute;
    right: 5%;
}

.header-aside--logo {
    max-width: 90%;
    border-radius: 20px;
}

.header-aside-info {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 15px;
    border-radius: 55px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 12%;
    left: -10%;
    width: 50%;
    height: 11%;
    opacity: 0.95;
}

.happy-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.happy-info h4 {
    font-size: 1em;
    color: #333;
}

.header-aside-info img {
    width: 25%;
    margin-right: 10px;
}

.header-aside-info div {
    display: flex;
    align-items: center;
    margin: 0 0 5% 0;
}

.header-aside-info span {
    font-size: 0.8em;
    color: #333;
}

.happy-info img {
    width: 1em;
}

.header-aside-calories {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 2%;
    right: 5%;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 110px;
    text-align: center;
    opacity: 0.95;
}

.header-aside-calories-sp {
    width: 100%;
    font-size: 0.6em;
}

.header-aside-calories-number {
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
}

.header-aside-calories-progress {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 50px;
}

.bar-container {
    width: 8px;
    margin: 0 2px 0 2px;
    height: 100%;
    background: rgb(250, 250, 250);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.05);
}

.bar {
    width: 100%;
    background: linear-gradient(to top, #FB9333, #f5ad61, #f5d8ad);
    position: absolute;
    bottom: 0;
    border-radius: 6px;
}

.bar:nth-child(1) { height: 20%; }
.bar:nth-child(2) { height: 40%; }
.bar:nth-child(3) { height: 50%; }
.bar:nth-child(4) { height: 70%; }
.bar:nth-child(5) { height: 80%; }
.bar:nth-child(6) { height: 90%; }
.bar:nth-child(7) { height: 100%; }

.we_provide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 0 auto;
    padding: 40px 20px;
}

.we_provide-text h2 {
    font-size: 2em;
    font-weight: bold;
}

.highlight {
    color: #FB9333;
}

.we_provide-services {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0 40px 0;
    text-align: left;
}

.we_provide-service {
    background: white;
    border-radius: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: left;
    width: 25%;
    transition: transform 0.3s ease-in-out;
}

.we_provide-service:hover {
    transform: translateY(-5px);
}

.we_provide-service-button:hover {
    background-color: #e87e1b;
    color: white;
}

.we_provide-service-img {
    width: 80px;
    margin-bottom: 15px;
    text-align: left;
}

.we_provide-service-button {
    min-width: 300px;
    display: inline-block;
    margin-bottom: 20px;
    background-color: white;
    color: gray;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.we_provide-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.why_us1 {
    position: relative;
    flex: 1;
    width: 50%;
}

.why_us2 {
    position: relative;
    flex: 1;
    width: 50%;
    margin-left: 20%;
}

.comments {
    display: flex;
    background: #fef6ec;
    padding: 5%;
    text-align: center;
    margin: 0 -5.5%;
    overflow: hidden;
}

.comments-left {
    display: flex;
    width: 40%;
}

.comments-right {
    display: flex;
    width: 60%;
    height: 40%;
    justify-content: flex-start;
}

.comments-left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10%;
    text-align: left;
}
.comments-left-text h1 {
    font-size: 1.9em;
    font-weight: bold;
    color: #333;
}

.comments-navigation {
    display: flex;
    width: 100%;
}
.comments-navigation span {
    font-size: 4em;
}

.comments-navigation i {
    margin-top: 3em;
    color: gray;
}

.comments-navigation-arrs {
    display: flex;
}

.comments-article {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 2%;
    text-align: left;
    height: 350px;
}

.comments-article img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-bottom: -30px;
    border: 3px solid white;
    position: relative;
    top: -30px;
}

.comments-article h3 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #333;
}

.comments-article time {
    font-size: 0.9rem;
    color: #888;
}

.comments-article p {
    font-size: 1rem;
    color: #444;
    margin-top: 10px;
}
.comments-navigation-arrs{
    display: flex;
    gap: 10px;
    width: 100%;
}
.comments-navigation-arr-l, .comments-navigation-arr-r{
    background-color: #FFC87A;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    color: white;
    font-size: 1.3em;
}

.comments-navigation-arr-l:hover, .comments-navigation-arr-r:hover {
    transform: scale(1.1);
    transform: color #ffa64d;
}

.listings-header h5 {
    margin-top: 5%;
    text-align: center;
}

.listings-header h2 {
    margin-top: 1%;
    text-align: center;
    font-size: 2.5em;
}

.listings-product {
    display: flex;
    justify-content: space-between;
    margin: 3%;
}

.listings-product-case {
    position: relative;
}

.listings-product-case-image {
    width: 85%;
    object-fit: cover;
}

.listings-product-case h4 {
    font-size: 1.3em;
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 20px;
    font-weight: 500;
}

.listings-product-case h2 {
    font-size: 1.7em;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-weight: 700;
}
.grad {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.subscription {
    background-color: #FFF1DE;
    padding: 5%;
    position: relative;
    background-image: url('./icons/subscribe/image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.subscription-header {
    text-align: center;
}

.subscription-header h2 {
    font-size: 1em;
}

.subscription-header h1 {
    font-size: 1.5em;
    color: #585858;
}

.subscription-header p {
    font-size: 1em;
    color: gray;
}
.subscription-image {
    display: none;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    max-width: 600px;
    margin: 10% auto 5% auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    color: #888;
    padding: 10px;
    border-radius: 50px;
    transition: color 0.3s;
}

input[type="text"]:focus {
    color: #000;
}

input[type="text"]::placeholder {
    color: #888;
    transition: opacity 0.3s;
}

input[type="text"]:focus::placeholder {
    opacity: 0;
}

button {
    background: #ffa64d;
    color: white;
    font-size: 16px;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: #ffa64d;
    transform: scale(1.1);
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 5% 2%;
}

.footer-left_left {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-left_left p {
    margin: 10% 0 10% 0;
}

.footer-left_left div {
    font-size: 1.5em;
}

.copyright {
    display: flex;
    margin-top: 4%;
}

.footer-left_middle {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-left_middle span {
    margin-top: 5px;
}

.footer-header-link{
    color: black;
    text-decoration: none;
    margin-top: 15px;
}

.footer-right_middle {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-image {
    width: 30px;
    height: 30px;
}

.footer-left_middle-getInTouch {
    margin-top: 20px;
}

.footer-right_right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.links-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-decoration: none;
    width: 70%;
}
